<div class="container">
  <h1>Mon compte</h1>
  <h2>Mes vélos disponibles à la location :</h2>
  <div class="row mt-5">
    <% if @bikes.present? %>
      <% @bikes.each do |bike| %>
        <div class="col-4">
          <%= link_to bike_path(bike) do %>
            <div class="card mb-4">
              <% if bike.photo.attached? %>
                <div class="card-top" style="background-image: url('<%= cl_image_path bike.photo.key %>')"></div>
              <% else %>
                <div class="card-top" style="background-image: url('<%= image_path 'placeholder_bike.jpg' %>')"></div>
              <% end %>
              <div class="card-bottom">
                <h5 class="card-title"><%= bike.bike_type %></h5>
                <p class="card-text"><%= bike.brand %></p>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <p>Je n'ai pas mis de vélo en location pour le moment</p>
    <% end %>
  </div>
  <h2>Mes réservations :</h2>
  <div class="row mt-5">
    <% if @rentals.present? %>
      <% @rentals.each do |rental| %>
        <div class="col-4">
          <%= link_to bike_path(rental.bike) do %>
            <div class="card mb-4">
              <% if rental.bike.photo.attached? %>
                <div class="card-top" style="background-image: url('<%= cl_image_path rental.bike.photo.key %>')"></div>
              <% else %>
                <div class="card-top" style="background-image: url('<%= image_path 'placeholder_bike.jpg' %>')"></div>
              <% end %>
              <div class="card-bottom">
                <h5 class="card-title"><%= rental.bike.bike_type %>  <%= rental.bike.brand %></h5>
                <p class="card-text"> Vélo de <%= rental.user.first_name %></p>
                <p class="card-text"> Loué du <%= rental.start_date %> au <%= rental.end_date %></p>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <p>Je n'ai pas mis de vélo en location pour le moment</p>
    <% end %>
  </div>
</div>
